In [32]:
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo

In [33]:
#Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/bt4ever/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [34]:
mars = {}

In [35]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [36]:
html = browser.html
soup = bs(html, 'html.parser')

In [37]:
# Create news title and paragraph variables
news_title = soup.find('div', class_='content_title').text
news_paragraph = soup.find('div', class_='article_teaser_body').text

mars['news_title'] = news_title
mars['news_paragraph'] = news_paragraph

In [38]:
#Display lastest title and paragraph
print(f'Latest Article: {news_title} \nDescription: {news_paragraph}')

Latest Article: Join NASA for the Launch of the Mars 2020 Perseverance Rover
Description: No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.

In [39]:
#URL for featured image
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [40]:
html = browser.html
soup = bs(html, 'html.parser')

In [41]:
#Scrape featured image
image_url = soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = f'{url}/{image_url}'
featured_image_url

mars['featured_image_url'] = featured_image_url

In [42]:
#Scraping Mars Facts

#URL
url = 'https://galaxyfacts-mars.com'
all_about_mars = pd.read_html(url)
all_about_mars

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [43]:
type(all_about_mars)

list

In [44]:
mars_facts = all_about_mars[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [45]:
mars_facts = mars_facts.rename(columns=mars_facts.iloc[0]).drop(mars_facts.index[0])
mars_facts

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [46]:
mars_facts_table = mars_facts.rename(columns={'Mars - Earth Comparison': ''})
mars_facts_table

                                  Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [47]:
mars_table = mars_facts_table[['','Mars','Earth']].reset_index(drop=True)
mars_t = mars_table.set_index('')
mars_t

                               Mars            Earth

Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [48]:
mars_t = mars_table.set_index('')
mars_t

                               Mars            Earth

Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [49]:
mars_t_html = mars_t.to_html()
mars_t_html_class_t = mars_t_html.replace('<table border="1" class="dataframe">\n','<table class="table table-dark table-striped">\n')
mars_t_html_class_tr = mars_t_html_class_t.replace('<tr style="text-align: right;">','<tr>')
mars_t_html_class_row = mars_t_html_class_tr.replace('<th>','<th scope="row">')

mars['mars_t_html'] = mars_t_html_class_row

Scraping Mars Hemisphere Images and Titles

In [50]:
#Cerberus Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h1_title = soup.find('h2', class_='title').text

mars_h1 = soup.find('img', class_='wide-image')['src']
mars_h1_img = f'{url}/{mars_h1}'

In [51]:
#Schiaparelli Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h2_title = soup.find('h2', class_='title').text

mars_h2 = soup.find('img', class_='wide-image')['src']
mars_h2_img = f'{url}/{mars_h2}'

In [52]:
#Syrtis Major Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Syrtis Major Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h3_title = soup.find('h2', class_='title').text

mars_h3 = soup.find('img', class_='wide-image')['src']
mars_h3_img = f'{url}/{mars_h3}'

In [53]:
#Valles Marineris Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Valles Marineris Hemisphere').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h4_title = soup.find('h2', class_='title').text

mars_h4 = soup.find('img', class_='wide-image')['src']
mars_h4_img = f'{url}/{mars_h4}'

In [54]:
mars_hemispheres_imgs = [
        {"title1": mars_h1_title, "link1": mars_h1_img},
        {"title2": mars_h2_title, "link2": mars_h2_img},
        {"title3": mars_h3_title, "link3": mars_h3_img},
        {"title4": mars_h4_title, "link4": mars_h4_img}]
 
mars_hemispheres_imgs

mars['hemispheres'] = mars_hemispheres_imgs

In [55]:
#Close Browser
browser.quit()

In [56]:
mars

{'news_title': 'Join NASA for the Launch of the Mars 2020 Perseverance Rover',
 'news_paragraph': 'No matter where you live, choose from a menu of activities to join NASA as we "Countdown to Mars" and launch the Perseverance rover to the Red Planet.',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars2.jpg',
 'mars_t_html': '<table class="table table-dark table-striped">\n  <thead>\n    <tr>\n      <th scope="row"></th>\n      <th scope="row">Mars</th>\n      <th scope="row">Earth</th>\n    </tr>\n    <tr>\n      <th scope="row"></th>\n      <th scope="row"></th>\n      <th scope="row"></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th scope="row">Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th scope="row">Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th scope="row">Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th scope="row">Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th scope="row">Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th scope="row">Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemispheres': [{'title1': 'Cerberus Hemisphere Enhanced',
   'link1': 'https://marshemispheres.com//images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title2': 'Schiaparelli Hemisphere Enhanced',
   'link2': 'https://marshemispheres.com//images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title3': 'Syrtis Major Hemisphere Enhanced',
   'link3': 'https://marshemispheres.com//images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title4': 'Valles Marineris Hemisphere Enhanced',
   'link4': 'https://marshemispheres.com//images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}