In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo

In [2]:
#Setup Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [/Users/bt4ever/.wdm/drivers/chromedriver/mac64/90.0.4430.24/chromedriver] found in cache

In [3]:
mars = {}

In [4]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [5]:
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
# Create news title and paragraph variables
news_title = soup.find('div', class_='content_title').text
news_paragraph = soup.find('div', class_='article_teaser_body').text

mars['news_title'] = news_title
mars['news_paragraph'] = news_paragraph

In [7]:
#Display lastest title and paragraph
print(f'Latest Article: {news_title} \nDescription: {news_paragraph}')

Latest Article: With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen
Description: For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars.

In [8]:
#URL for featured image
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
html = browser.html
soup = bs(html, 'html.parser')

In [10]:
#Scrape featured image
image_url = soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = print(f'https://spaceimages-mars.com/{image_url}')
featured_image_url

mars['featured_image_url'] = featured_image_url

https://spaceimages-mars.com/image/featured/mars3.jpg

In [11]:
#Scraping Mars Facts

#URL
url = 'https://galaxyfacts-mars.com'
all_about_mars = pd.read_html(url)
all_about_mars

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [12]:
type(all_about_mars)

list

In [13]:
mars_facts = all_about_mars[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [14]:
mars_facts = mars_facts.rename(columns=mars_facts.iloc[0]).drop(mars_facts.index[0])
mars_facts

  Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
mars_facts_table = mars_facts.rename(columns={'Mars - Earth Comparison': 'Facts'})
mars_facts_table

                Facts             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
mars_table = mars_facts_table[['Facts','Mars']].reset_index(drop=True)
mars_table

                Facts             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:     -87 to -5 °C

In [17]:
mars_t_html = mars_table.to_html()
mars['mars_t_html'] = mars_t_html

Scraping Mars Hemisphere Images and Titles

In [18]:
#Cerberus Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Cerberus Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h1_title = soup.find('h2', class_='title').text

mars_h1 = soup.find('img', class_='wide-image')['src']
mars_h1_img = 'https://spaceimages-mars.com/' + mars_h1

In [19]:
#Schiaparelli Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Schiaparelli Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h2_title = soup.find('h2', class_='title').text

mars_h2 = soup.find('img', class_='wide-image')['src']
mars_h2_img = 'https://spaceimages-mars.com/' + mars_h2

In [20]:
#Syrtis Major Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Syrtis Major Hemisphere Enhanced').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h3_title = soup.find('h2', class_='title').text

mars_h3 = soup.find('img', class_='wide-image')['src']
mars_h3_img = 'https://spaceimages-mars.com/' + mars_h3

In [21]:
#Valles Marineris Hemisphere
url = 'https://marshemispheres.com/'
browser.visit(url)

browser.links.find_by_partial_text('Valles Marineris Hemisphere').click()

html = browser.html
soup = bs(html, 'html.parser')

mars_h4_title = soup.find('h2', class_='title').text

mars_h4 = soup.find('img', class_='wide-image')['src']
mars_h4_img = 'https://spaceimages-mars.com/' + mars_h4

In [22]:
mars_hemispheres_imgs = [
    {"title": mars_h1_title, "img_url": mars_h1_img},
    {"title": mars_h2_title, "img_url": mars_h2_img},
    {"title": mars_h3_title, "img_url": mars_h3_img},
    {"title": mars_h4_title, "img_url": mars_h4_img}]
 
mars_hemispheres_imgs

mars['hemispheres'] = mars_hemispheres_imgs

In [23]:
#Close Browser
browser.quit()

In [24]:
mars

{'news_title': 'With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen',
 'news_paragraph': 'For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars. ',
 'featured_image_url': None,
 'mars_t_html': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>',
 'hemispheres': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://spaceimages-mars.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://spaceimages-mars.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://spaceimages-mars.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://spaceimages-mars.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}